@media only screen and (max-width: 1200px) {

    .description_container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .details_container_header{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        max-width: none;
        text-align: center;
    }
    .details_container_header>div:nth-child(1){
        font-family: "TTNorms_Medium";
        font-size: 2rem;
        width: 90%;
    }
    .details_container_header>div:nth-child(2){
        font-family: "TTNorms_Regular";
        font-size: 1rem;
        color: var(--the_gray);
        line-height: var(--the_line_height);
        width: 70%;
    }

    .image_container_header{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    #image_header{
        max-width: 100%;
    }

    
}

@media only screen and (max-width: 992px) {
    .nav_container_mainheader>div{
        gap: 1.5rem;
    }
    .connectUs_container_button_mainheader{
        display: none;
    }
    .buttonSet_header{
        display: none;
    }

}

@media only screen and (max-width: 768px) {
    .mainheader{
        padding: 0 2rem;
    }
    .nav_container_mainheader{
        gap: 1.2rem;
    }
    .nav_container_mainheader>div{
        font-size: 0.8em;
    }
    .nav_container_mainheader>a{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 576px) {


    .connectUs_container_button_mainheader{
        display: none;
    }
    .Menu{
        display: block;
    }
    .openMenu{
        width: 2rem;
    }
    .closeMenu{
        display: none;
    }
    .nav_container_mainheader>div{
        display: none;
    }
    .mainheader{
        padding: 0 1rem;
    }
    .details_container_header>div:nth-child(1){
        font-size: 1.5rem;
    }
    .details_container_header>div:nth-child(2){
        font-size: 1rem;
    }
}
@media only screen and (max-width: 320px) {
    .nav_header{
        flex-direction: column-reverse;
    }
}