@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 1000px) {
    .pin_comments_container_mainmain{
        padding: 0 1rem;
    }
    .pin_comments_box{
        max-width: 100%;
        
    }

}

@media only screen and (max-width: 992px) {

    #image_howit{
        max-width: 100%;
    }
    .sampleImages_container>div{
        width: 70%;
    }
    .sampleImages_container>div img{
        width: 100%;
    }

}

@media only screen and (max-width: 768px) {
    .How_itWork_container_mainmain{
        padding: 0px 1rem;
    }
    .maintilte_oursponsors_container{
        padding: 0px 1rem;

    }

    .protfolio_container_mainmain{
        padding: 0px 1rem;
    }
    .sampleImages_container>div{
        width: 100%;
    }

}

@media only screen and (max-width: 576px) {

    .minmmal_tilte{
        font-size: 0.65rem;
    }
    .indetailtitle_container{
        font-size: 1.5rem;
    }
    .maintile_container{
        width: 90%;
    }
    .ourgoalText_container>div:nth-child(1){
        font-size: 1rem;
    }
    .ourgoalText_container>div:nth-child(2){
        font-size: 0.85rem;
    }
    .pin_comments_container_mainmain{
        padding: 0 0.5rem;
    }
    .pin_comments_container_mainmain{
        flex-direction: column;
        align-items: center;
    }
    .sampleImages_container{
        padding: 0 5%;
    }
}
@media only screen and (max-width: 320px) {
    .comment_text{
        font-size: 0.8rem;
    }
    .username_pincomment{
        font-size: 0.6rem;
    }
}