/* navTransationStyle */
.nav_container_mainheader a{
    transition: background-color 250ms ease-out 0s , color 250ms ease-out 0s;
    padding: 0.5rem 1rem;
}
.nav_container_mainheader  a:hover{
    background-color: #E3F2FD;
}   
.nav_container_mainheader  a:active{
    background-color: black;
    color: #FFC107;

}   
/*button click*/
.connectUs_container_button_mainheader , .buttonSet_header>a{
    transition: all 250ms ease 0s;

}
.connectUs_container_button_mainheader:hover , .buttonSet_header>a:first-child:hover{ 
    background-color: #6d9620;
}
.connectUs_container_button_mainheader:hover , .buttonSet_header>a:last-child:hover{ 
    background-color: #212a8f;
}
.connectUs_container_button_mainheader:active , .buttonSet_header>a:active{ 
    background-color: black !important; 
    color: #FFC107;
}