@keyframes sendEmail {
    0% {
        transform: translatex(0); 
    }
    100% {
        transform: translatex(150vw); 
    }
}

@keyframes bell_Ring {
    0% {
        transform: rotate(-3deg);
    
    }

    100%{
        transform: rotate(3deg);
    }
}

@keyframes sampleImageANIM{
    0%{
        opacity: 0;
        transform: rotate(-30deg);
    }
    100%{
        opacity: 1;
        transform: rotate(0deg);


    }
}

@keyframes sideBarANIMSHOW{
    0%{
        transform: translateY(-1000px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);


    }
}

@keyframes sideBarANIMHIDE{
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(-1000px);
        opacity: 0;

    }

}

@keyframes pin_comments_boxANIM{
    0%{
        opacity: 0;
        transform: rotate(+30deg);
    }
    100%{
        opacity: 1;
        transform: rotate(0deg);
    }
}
@keyframes details_container_headerANIM{
    0%{
        opacity: 0;
        transform: rotate(90deg);
    }
    100%{
        opacity: 1;
        transform: rotate(0deg);


    }
}
@keyframes image_container_headerANIM{
    0%{
        opacity: 0;
        transform: rotate(-90deg);
    }
    100%{
        opacity: 1;
        transform: rotate(0deg);


    }
}
@keyframes navAnim{
    0%{
        scale: 0;
    }

    100%{
        scale:1;
    }
} 
@keyframes delete__Icon{
    0%{
        transform: rotate(0);
        scale: 1;
        opacity: 1;
    }
    25%{
        transform: rotate(-45deg);
        scale: 3;
        opacity: 1;
    }
    100%{
        transform: rotate(1000deg);
        scale: 0;
        opacity: 0;
    }
} 
@keyframes _Open_Icon{
    0%{
        transform: rotate(1000deg);
    }
    25%{
        transform: rotate(-45deg);
        scale: 3;
        opacity: 1;
    }
    100%{
        transform: rotate(0);
        scale: 1;
        opacity: 1;
    }
} 

/* Header Trans_Anim */
/* .sildeBar_mainheader.hide{
    animation: sampleImageANIM 1s ease 40ms 1  forwards;
} */
.nav_container_mainheader a,#sildeBarMenu a:not(:nth-child(1)){
    transition: color 200ms ease-out 0s;
}

#sildeBarMenu.show{
    animation: sideBarANIMSHOW 1s ease 40ms 1 ;
    animation-fill-mode: forwards !important;

}  
#sildeBarMenu.hide{
    animation: sideBarANIMHIDE 1s ease 40ms 1 ;
    animation-fill-mode: forwards !important;

}  

.hover_box{
    transition: opacity 250ms ease-out 100ms , background-color 250ms ease-out 0s;
}
.nav_container_mainheader  a:hover .hover_box ,#sildeBarMenu a:not(:nth-child(1)):hover .hover_box{
    opacity: 1;
}   
.nav_container_mainheader  a:active .hover_box,#sildeBarMenu a:not(:nth-child(1)):active .hover_box{
    background-color: black;
}    
.nav_container_mainheader  a:active,#sildeBarMenu a:not(:nth-child(1)):active{
    color: #FFC107;
}

/*button click*/

.connectUs_container_button_mainheader , .buttonSet_header>a{
    transition: all 250ms ease 0s;

}
.connectUs_container_button_mainheader:hover , .buttonSet_header>a:first-child:hover{ 
    background-color: #6d9620;
}
.connectUs_container_button_mainheader:hover , .buttonSet_header>a:last-child:hover{ 
    background-color: #212a8f;
}
.connectUs_container_button_mainheader:active , .buttonSet_header>a:active{ 
    background-color: black !important; 
    color: #FFC107;
}
.openMenu svg.hideIcon{
    animation: delete__Icon 1s ease 10ms forwards;
}
.openMenu svg.showiconmenu{
    animation: _Open_Icon 1s ease 10ms forwards;
}
/*Main Trans_Anim*/
.ourgoalText_container{
    transition: background-color 250ms ease-out 100ms;  
}
.ourgoalText_container:hover .hover_box{
    background-color: #E3F2FD;
    opacity: 1;
}
.ourgoalText_container:hover{
    animation: bell_Ring 100ms ease 110ms infinite alternate;
}

.sponsorsicon_image:hover{
    animation: bell_Ring 100ms ease 110ms infinite alternate;
} 

/*Footer Trans_Anim*/
.copy_right_details_container>a{
    transition: opacity 300ms ease 200ms;
}
.copy_right_details_container>a:hover{
    opacity: 1;
}
.sendemail_box_container{
    transition: box-shadow 300ms ease-in-out 150ms;
}
.sendemail_box_container:hover , .sendemail_box_container>input:focus{
    box-shadow:0 0 10px bisque ;
}
.sendemail_box_container .button_class{
    transition: background-color 100ms ease-out;
}
.sendemail_box_container .button_class.active{
    top: 0;
    bottom: 0;
    background-color: #64DD17;
    animation: sendEmail 2s ease-in-out forwards 100ms;
}


/*startAnim*/

.sampleImage {
    animation: sampleImageANIM 1s ease 40ms 1  forwards;
}
.pin_comments_box{
    animation: pin_comments_boxANIM 1s ease 40ms 1  forwards;
    opacity: 0;
}
.details_container_header{
    opacity: 0;
    animation: details_container_headerANIM 1s ease 40ms 1  forwards;
    
}
.image_container_header>img{
    opacity: 0;
    animation: image_container_headerANIM 1s ease 40ms 1  forwards;

}
.nav_header{
    animation: navAnim 1.5s ease 40ms 1 forwards;
}